<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Clothes Registration</title>
  </head>
  <body>
    <h1>Clothes Registration</h1>
    <form action="/driver/<%=phone%>/orderList/<%= existingOrder._id%>" method="post">
      <%= existingOrder._id.$oid%> <br>
      <% for(let i = 0; i < data.length; i++) {%> <%= data[i].FUNCTION %> <br />
      <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) {%> <%=
      data[i].SUBFUNCTION[j].GENDER %> <br />
      <%-      include('partials/editorderPartials',{data:data[i].SUBFUNCTION[j].PRODUCTS,existingOrder:existingOrder.orders})%>

      <br />
      <%}%><br />
      <%}%> <br />
      <p>subtotal: <span id="totalPrice">0</span></p>
      
      

      <button type="submit">Register</button>
    </form>
    
    
  </body>
</html>
