
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Clothes Registration</title>
  </head>
  <body>
    <h1>Clothes Registration</h1>
    <form action="/<%= phone%>/orderList" method="post">
      <% for(let i = 0; i < data.length; i++) {%> <%= data[i].FUNCTION %> <br />
      <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) {%> <%=
      data[i].SUBFUNCTION[j].GENDER %> <br />
      <%-
      include('partials/orderPartials',{data:data[i].SUBFUNCTION[j].PRODUCTS})%>

      <br />
      <%}%><br />
      <%}%> <br />
      <p>subtotal: <span id="totalPrice">0</span></p>
      
      <%= currentDate  %>
      <label for="pickupDate">Pickup Date:</label>
      <input type="date" id="pickupDate" name="pickupDate" required  min="<%= currentDate  %>"  >
      <label for="pickupTime">Pickup Time:</label>
      <input type="time" id="pickupTime" name="pickupTime" required  min="<%= startTime %>" max="16:00" step="3600">
      <br>

      <label for="deliveryDate">Delivery Date :</label>
      <input type="date" id="deliveryDate" name="deliveryDate"  required    min="<%= currentDate  %>"   >
      <label for="deliveryTime">Delivery Time:</label>
      <input type="time" id="deliveryTime" name="deliveryTime"  required min="10:00" max="17:00" step="3600" >

      <button type="submit">Register</button>
    </form>
    <script>
      function getMinDateTime() {
        let today = new Date(),
    day = today.getDate(),
    month = today.getMonth()+1, //January is 0
    year = today.getFullYear();
         if(day<10){
                day='0'+day
            } 
        if(month<10){
            month='0'+month
        }
        today = year+'-'+month+'-'+day;

        document.getElementById("pickupDate"). setAttribute("min", today);

        document.getElementById("deliveryDate"). setAttribute("min",today);
        
        
      } 

      function updateTimes() {
         getMinDateTime();

        
      }

      function updateTotalPrice() {
        
        let totalPrice ;

        
        <% for(let i = 0; i < data.length; i++) { %>
          <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) { %>
            <% for(let k = 0; k < data[i].SUBFUNCTION[j].PRODUCTS.length; k++) { %>
              const <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Input = document.getElementById('<%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>');
              const <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Price = parseFloat('<%= data[i].SUBFUNCTION[j].PRODUCTS[k].PRICE %>');
              totalPrice += <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Input.value * <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Price;
            <% } %>
          <% } %>
        <% } %>

        console.log(totalPrice);

        
        const totalPriceElement = document.getElementById('totalPrice');
        totalPriceElement.textContent = totalPrice.toFixed(2); 
      }

      document.addEventListener('DOMContentLoaded', () => {
        updateTimes();
        console.log("DOMContentLoaded")
      });
    </script>
  </body>
</html>
