<!-- views/clothesRegister.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Clothes Registration</title>
  </head>
  <body>
    <h1>Clothes Registration</h1>
    <form action="/<%= username%>/orderList" method="post">
      <% for(let i = 0; i < data.length; i++) {%> <%= data[i].FUNCTION %> <br />
      <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) {%> <%=
      data[i].SUBFUNCTION[j].GENDER %> <br />
      <%-
      include('partials/orderPartials',{data:data[i].SUBFUNCTION[j].PRODUCTS})%>

      <br />
      <%}%><br />
      <%}%> <br />
      <p>subtotal: <span id="totalPrice">0</span></p>
      <label for="pickupDateTime">Pickup Date and Time:</label>
      <input
        type="datetime-local"
        id="pickupDateTime"
        name="pickupDateTime"
        required
      />

      <label for="deliveryDateTime">Delivery Date and Time:</label>
      <input
        type="datetime-local"
        id="deliveryDateTime"
        name="deliveryDateTime"
        required
      />

      <p>Total Price: $<span id="totalPrice">0.00</span></p>

      <button type="submit">Register</button>
    </form>
    <script>
            function updateTotalPrice() {
              // Initialize total price
              let totalPrice = 0;

              // Loop through items to calculate total price
              <% for(let i = 0; i < data.length; i++) { %>
        <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) { %>
          <% for(let k = 0; k < data[i].SUBFUNCTION[j].PRODUCTS.length; k++) { %>
            const <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Input = document.getElementById('<%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>');
            const <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Price = parseFloat('<%= data[i].SUBFUNCTION[j].PRODUCTS[k].PRICE %>');
            totalPrice += <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Input.value * <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Price;
          <% } %>
        <% } %>
      <% } %>

                console.log(totalPrice);

              // Update the total price in the HTML
              const totalPriceElement = document.getElementById('totalPrice');
              totalPriceElement.textContent = totalPrice.toFixed(2); // Assuming you want to display the total with two decimal places
            }
    </script>
  </body>
</html>
