
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Clothes Registration</title>
  </head>
  <body>
    <h1>Clothes Registration</h1>
    <form action="/<%= phone%>/orderList" method="post">
      <% for(let i = 0; i < data.length; i++) {%> <%= data[i].FUNCTION %> <br />
      <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) {%> <%=
      data[i].SUBFUNCTION[j].GENDER %> <br />
      <%-
      include('partials/orderPartials',{data:data[i].SUBFUNCTION[j].PRODUCTS})%>

      <br />
      <%}%><br />
      <%}%> <br />
      <p>subtotal: <span id="totalPrice">0</span></p>
      
      <label for="pickupDate">Pickup Date and Time:</label>
      <input type="datetime-local" id="pickupDate" name="pickupDate" required onchange="updateTimes()">

      <label for="deliveryDate">Delivery Date and Time:</label>
      <input type="datetime-local" id="deliveryDate" name="deliveryDate" min="<%= getMinDateTime() %>" onchange="updateTimes()">

      <button type="submit">Register</button>
    </form>
    <script>
      function getMinDateTime() {
        const currentDate = new Date();
        const year = currentDate.getFullYear();
        const month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
        const day = currentDate.getDate().toString().padStart(2, '0');
        const hours = currentDate.getHours().toString().padStart(2, '0');
        const minutes = currentDate.getMinutes().toString().padStart(2, '0');

        return `${year}-${month}-${day}T${hours}:${minutes}`;
      } 

      function updateTimes() {
        document.getElementById('pickupDate').min = getMinDateTime();
        document.getElementById('deliveryDate').min = getMinDateTime();

        
      }

      function updateTotalPrice() {
        
        let totalPrice = 0;

        
        <% for(let i = 0; i < data.length; i++) { %>
          <% for(let j = 0; j < data[i].SUBFUNCTION.length; j++) { %>
            <% for(let k = 0; k < data[i].SUBFUNCTION[j].PRODUCTS.length; k++) { %>
              const <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Input = document.getElementById('<%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>');
              const <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Price = parseFloat('<%= data[i].SUBFUNCTION[j].PRODUCTS[k].PRICE %>');
              totalPrice += <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Input.value * <%= data[i].SUBFUNCTION[j].PRODUCTS[k].ID %>Price;
            <% } %>
          <% } %>
        <% } %>

        console.log(totalPrice);

        
        const totalPriceElement = document.getElementById('totalPrice');
        totalPriceElement.textContent = totalPrice.toFixed(2); 
      }

      document.addEventListener('DOMContentLoaded', () => {
        updateTimes();
      });
    </script>
  </body>
</html>
