<html>
<head>
  <title>Order History</title>
</head>
<body>
  <h1>total user data of +<%= user.phone %></h1>
  <p>address: <%= user.address %></p>
  <p>latitude: <%= user.address.latitude %></p>
  <p>longitude: <%= user.address.longitude %></p>
  <p>road: <%= user.address.road %></p>
  <p>suburb: <%= user.address.suburb %></p>
  <p>city: <%= user.address.city %></p>
  <p>state: <%= user.address.state %></p>
  <p>country: <%= user.address.country %></p>
  <p>username: <%= user.username %></p>
  <p>password: <%= user.password %></p>
  <p>phone: <%= user.phone %></p>
  <p>phone: <%= user.verificationCode %></p>




   <% if (user.order && user.order.length > 0) { %>
    <h3>Total Order Size:<%= user.order.length %></h3>
    <ul>
      <% user.order.forEach(order => { %>
        
        <li>          
            <% for(let i = 0; i < order.orderId.orders.length; i++) { %>
              <p>Order Items[<%= i%>]:" <%= order.orderId.orders[i].items %> ",Items service: "<%= order.orderId.orders[i].service %>"  ,Items quantity: <%= order.orderId.orders[i].quantity %></p>
            <% } %>
            <p>Pickup Date: <%= order.orderId.pickupDate %></p>
            <p>Pickup Time: <%= order.orderId.pickupTime %></p>
            <p>Delivery Date: <%= order.orderId.deliveryDate %></p>
            <p>Delivery Time: <%= order.orderId.deliveryTime %></p>
            <p>Total Price: <%= order.orderId.totalPrice %></p>
          
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No orders found</p>
  <% } %> 

</body>
</html>
