
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<body>
    <h1>User Data</h1>
    <p>Username: <%= phone %></p>
    <a href="/<%= phone %>/new-order">place order</a>
    <a href="/<%= phone %>/history-orders">history order</a>
    <a href="/<%= phone %>/user-saved-data">user saved data</a>
    <a href="/<%= phone %>/other-user-data">additional data</a>
    <a href="/<%= phone %>/pricelist">pricelist</a>
    
</body>
</html>
