<% for (let i = 0; i < data.length; i++) { if (data[i].VARIABLE_PRICE==0) { %>
<label for="<%= data[i].ID %>"
  ><%= data[i].NAME %> RS<%= data[i].PRICE %>.00</label>
<input
  type="number"
  id="<%= data[i].ID %>"
  name="<%= data[i].ID %>"
  min="0"
  value="0"
  onchange=updateTotalPrice()
/>
<br />

<% } %> <% } %>
